
<title>My application</title>
  <h1>Hello, World!</h1>
    Result is {{result}}
In the first form, enter a list of integers separated by a newline character.<br>
In the second form, enter another integer. <br>
In the third form, enter another integer. <br>
If number of array elements divided by second integer equal to number of array elements divided by third integer, the result becomes true. <br><br>


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
	<textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>

